@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!-- Page Content-->
<div class="container-fluid p-0">

    <!-- Sobre -->
    <section class="resume-section" id="sobre">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Marcílio
                <span class="text-primary">Júnior</span>
            </h1>
            <div class="subheading mb-5">
                João Pessoa · Paraíba · Brasil ·
                <a href="mailto:marciliojr@outlook.com">marciliojr@outlook.com</a>
            </div>
            <p class="lead mb-5 text-justify">
                Desde criança, após ganhar meu primeiro computador, sou interessado pela área da tecnologia.
                No início, sempre ficava curioso em como era a parte interna de um computador e cada vez mais
                crescia o desejo de trabalhar com isso. Após alguns cursos e trabalhos na área técnica, hoje sou
                graduando em Engenharia da Computação pela Universidade Federal da Paraíba e estagiário de desenvolvimento
                na Novetech Soluções Tecnológicas.
            </p>
            <div class="social-icons">
                <a class="social-icon" target="_blank" href="https://www.linkedin.com/in/marciliojrr/"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" target="_blank" href="https://github.com/marciliojrr"><i class="fab fa-github"></i></a>
                <a class="social-icon" target="_blank" href="https://codepen.io/marciliojrr"><i class="fa-brands fa-codepen"></i></a>
                <a class="social-icon" target="_blank" href="https://www.instagram.com/marciliojrr/"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </section>
    <hr class="m-0" />

    <!-- Experiências-->
    <section class="resume-section" id="experiencias">
        <div class="resume-section-content">
            <h2 class="mb-5">Experiências</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Estágio em desenvolvimento de software</h3>
                    <div class="subheading mb-3">Novetech Soluções Tecnológicas</div>
                    <p>
                        Aprendendo e ajudando no desenvolvimento de softwares voltados para a Telemedicina.
                    </p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Março 2022 - Presente</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Estágio em suporte técnico</h3>
                    <div class="subheading mb-3">Vida Escola</div>
                    <p>
                        Atuei na gestão da infraestrutura da escola, fazendo com que sistemas e equipamentos estivessem
                        sempre funcionais, de modo que o trabalho dos demais colaboradores pudesse ocorrer de forma
                        satisfatória.
                    </p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Janeiro 2022 - Março 2022</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Jovem Aprendiz</h3>
                    <div class="subheading mb-3">HSBC Bank Brasil</div>
                    <p>
                        Realizei serviços de atendimento ao cliente, operações de caixas automáticos e algumas
                        tarefas administrativas, visando a melhora do fluxo de clientes dentro da agência.
                    </p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Janeiro 2014 - Janeiro 2016</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Técnico de Hardware</h3>
                    <div class="subheading mb-3">Big Informática</div>
                    <p>
                        Técnico responsável por visitas técnicas em domicílio,
                        vendedor de materiais de informática, suporte técnico online,
                        responsável por reparos, montagem e manutenção de computadores e
                        notebooks, instalação e manutenção de redes cabeadas e sem fio.
                    </p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Janeiro 2010 - Abril 2011</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />

    <!-- Educação-->
    <section class="resume-section" id="educacao">
        <div class="resume-section-content">
            <h2 class="mb-5">Educação</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Universidade Federal da Paraíba</h3>
                    <div class="subheading mb-3">Graduando em Engenharia da Computação</div>
                    <p>CRA: 6.03</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Agosto 2016 - Presente</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Colégio Estadual Prefeiro Mendes de Moraes</h3>
                    <div class="subheading mb-3">Ensino médio</div>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Fevereiro 2008 - Dezembro 2010</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />

    <!-- Habilidades-->
    <section class="resume-section" id="habilidades">
        <div class="resume-section-content">
            <h2 class="mb-5">Habilidades</h2>
            <div class="subheading mb-3">Linguagens de programação e ferramentas</div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item"><i><img width="45" height="45" src="theme/assets/img/python.png" /></i></li>
                <li class="list-inline-item"><i><img width="45" height="45" src="theme/assets/img/django.png" /></i></li>
                <li class="list-inline-item"><i><img width="45" height="45" src="theme/assets/img/Csharp.png" /></i></li>
                <li class="list-inline-item"><i><img width="45" height="45" src="theme/assets/img/aspNet.png" /></i></li>
                <li class="list-inline-item"><i><img width="45" height="45" src="theme/assets/img/dotNet.png" /></i></li>
                <li class="list-inline-item"><i><img width="45" height="45" src="theme/assets/img/js.png" /></i></li>
            </ul>
            <div class="subheading mb-3">Detalhes</div>
            <p>
                Apesar de já ter tido contato com as linguagens C e C++, no início da graduação, Python foi a
                que mais usei conforme fui avançando no curso. Principalmente para a disciplina de Introdução a
                Inteligência Artificial.
                O estudo do Djando veio com o meu já existente interesse pelo desenvolvimento web. Já que conhecia
                a linguagem, procurei estudadar esta ferramente para aplicar o Python em projetos web.
            </p>
            <p>
                JavaScript veio através da disciplina de Introdução a Computação Gráfica. Entretanto, iniciei um curso
                sobre esta linguagem para aprimorar meu conhecimento sobre desenvolvimento web, porém, não o concluí por
                falta de tempo.
            </p>
            <p>
                A linguagem que tenho utilizado mais recentemente é a C#, pois é uma das linguagens com mais uso
                na empresa que estou estagiando hoje. Para me familiarizar com ela, fiz um curso da Udemy e tenho
                realizado mais estudos para me aprofundar mais nesta linguagem, pois gostei de trabalhar com ela.
                Por conta disso, tive contato também com todo o ambiente do .NET, .NET Core e ASP.NET Core. Aliás,
                mesmo sendo simples e usando pouco dos recursos dessa plataforma, este site foi construído nesse ambiente.
            </p>
        </div>
    </section>
    <hr class="m-0" />

    <!-- Interesses-->
    <section class="resume-section" id="interesses">
        <div class="resume-section-content">
            <h2 class="mb-5">Interesses</h2>
            <p>
                Desde pequeno fascinado por tecnologia, hoje tenho o desejo de me tornar um desenvolvedor capaz de realizar projetos
                que possam fazer a diferença na vida das pessoas.
                Além do papel atual que exerço hoje na Novetech, almejo ter as capacidades para ser um desenvolvedor full-stack. Esta é uma
                área que desde adolescente passa pela minha cabeça, mas só recentemente me dei conta disso. Por isso, aos poucos, vou estudando
                assuntos relacionados a isto.
            </p>
        </div>
    </section>
    <hr class="m-0" />

</div>

