@page
@model personalPage.Pages.SobreModel
@{
    ViewData["Title"] = "Sobre";
}
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Marcílio
            <span class="text-primary">Júnior</span>
        </h1>
        <div class="subheading mb-5">
            João Pessoa · Paraíba · Brasil ·
            <a href="mailto:marciliojr@outlook.com">marciliojr@outlook.com</a>
        </div>
        <p class="lead mb-5 text-justify">
            Desde criança, após ganhar meu primeiro computador, sou interessado pela área da tecnologia.
            No início, sempre ficava curioso em como era a parte interna de um computador e cada vez mais 
            crescia o desejo de trabalhar com isso. Após alguns cursos e trabalhos na área técnica, hoje sou 
            graduando em Engenharia da Computação pela Universidade Federal da Paraíba e estagiário de desenvolvimento 
            na Novetech Soluções Tecnológicas.
        </p>
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/marciliojrr/"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://github.com/marciliojrr"><i class="fab fa-github"></i></a>
            <a class="social-icon" href="https://www.instagram.com/marciliojrr/"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</section>